@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>Aqui você pode gerenciar empréstimos de livros facilmente!</p>

    <div>
        <img class="w-25" src="/img/book.png" alt="Alternate Text" />
    </div>
</div>
